@import "../../scss/variables";

main {
  display: flex;
  flex-direction: column;
  padding: 0 25rem;
  position: relative;
  z-index: 3;
  .badges {
    margin-top: -3.5rem;
    margin-left: 2rem;
    display: flex;
    gap: 2rem;
    .badge {
      display: flex;
      align-items: center;
      padding: 1.5rem;
      width: 30%;
      border-radius: 1.2rem;
      gap: 1rem;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.1);
      }
      p {
        color: whitesmoke;
        font-size: 1.3rem;
      }
      i {
        font-size: 3rem;
        padding-left: 1rem;
        color: whitesmoke;
      }
    }
    .badge1 {
      background-color: $badge-1;
    }
    .badge2 {
      background-color: $badge-2;
    }
    .badge3 {
      background-color: $badge-3;
    }
  }
  .announcements {
    margin-top: 3rem;
    margin-left: 3rem;
    h3 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 0.4rem;
    }
  }
}
